data_directory: ./tmp/
http_server:
    listen_address: 127.0.0.1
    listen_port: 5000
all_ca_configs:
    ca_rsa:
        subject:
            common_name: "My CA RSA"
            country:
                - "IT"
            organization:
                - "ACME Corp"
            organizational_unit:
                - "PKI"
        validity:
            months: 1
        key_config:
            type: rsa
            config:
                size: 4096
        crl_ttl: 12h
        permitted_dns_domains_critical: true
        permitted_ip_ranges:
            - 192.168.0.0/16
            - 10.0.0.0/8
            
        opa_url_sign: http://localhost:8181/v1/data/simple_ca/allow
        opa_url_revoke: http://localhost:8181/v1/data/simple_ca/allow
    ca_ecdsa:
        subject:
            common_name: "My CA ECDSA"
            country:
                - "IT"
            organization:
                - "ACME Corp"
            organizational_unit:
                - "PKI"
        validity:
            months: 1
        key_config:
            type: ecdsa
            config:
                curve_name: P-256
        crl_ttl: 12h
        permitted_dns_domains_critical: true
        permitted_ip_ranges:
            - 192.168.0.0/16
            - 10.0.0.0/8
            
        opa_url_sign: http://localhost:8181/v1/data/simple_ca/allow
        opa_url_revoke: http://localhost:8181/v1/data/simple_ca/allow
